.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.container{
    background-image: var(--custom-gradient-bg),url(magicpattern-mesh-gradient-1709673148082.png);
}
.formbox{
    position: absolute;
    width: 500px ;
    min-height: 550px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 18px;
    backdrop-filter:blur(15px);
    display:flex;
    justify-content:center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
}
.inputbox label{
    position: relative;
    top: -2px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,0.5);
    outline: none;
    font-size: 1em;
    padding-left: 35px;
    color: #fff;
}
.forget{
    position: absolute;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-right: 15px;
}
.forget label input{
    margin-right: 5px;
    cursor: pointer;
}
.forget label a{
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
}
.forget label a:hover{
    text-decoration: underline;
}
#taha{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-top :30px;
    border-radius:40px;
    outline:none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    background: #fff;
}
.register{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 8px;
}
.register a {
    text-decoration: none;
    color: #fff;
}
.register a:hover{
    text-decoration: underline;
}
